#wp-admin-bar-custom-wpml-menu div.ab-item { float: left; }

#wp-admin-bar-custom-wpml-menu-content { float: left; }

select, option {
	text-shadow: none !important;
	color: #121212 !important;
}
#icl-als-wrap {
	display: none;
}

#wp-admin-bar-custom-wpml-menu div.ab-empty-item {
	display: none !important;
}

#custom-wpml-menu-select {
	position: relative;
	width: 150px;
	padding: 0 15px;
}

#custom-wpml-menu-select:hover #custom-wpml-menu-select-dropdown {
	display: block;
}

#custom-wpml-menu-select-active img {
	margin: 0 5px 0 0 !important;
}

#custom-wpml-menu-select-dropdown {
	display: none;
	position: absolute;
	background: #EFEFEF;
	top: 28px;
	left: 0;
	width: 100%;
}

#custom-wpml-menu-select-dropdown  ul {
	border: 1px solid #DFDFDF;
	border-width: 0 1px 1px 1px;
}

#custom-wpml-menu-select-dropdown ul li {
	display: block;
	float: none;
	width: 100%;
	margin: 0 0;
	overflow: hidden;
	text-shadow: #444 0 0 0 !important;
	background: #F1F1F1;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ECECEC),to(#F9F9F9));
	background-image: -webkit-linear-gradient(bottom,#ECECEC,#F9F9F9);
	background-image: -moz-linear-gradient(bottom,#ECECEC,#F9F9F9);
	background-image: -o-linear-gradient(bottom,#ECECEC,#F9F9F9);
	background-image: linear-gradient(to top,#ECECEC,#F9F9F9);
}

#custom-wpml-menu-select-dropdown ul li:hover {
	background: #EFEFEF;
	/*color: #EFEFEF !important;*/
	text-shadow: none !important;
}

#custom-wpml-menu-select-dropdown ul li a {
	text-shadow: none !important;
}

#custom-wpml-menu-select-dropdown ul li a img {
/*	max-height: 12px;
	padding: 0 10px 0 0;
	float: left;
	margin-top: 7px;*/
}

.custom-wpml-flag {
	float: left;
	width: 20px !important;
	height: 12px !important;
	text-align: center;
}

.custom-wpml-flag img {
	max-height: 12px;
}
.custom-wpml-label {
	float: left;
	margin-left: 5px !important;;
	text-shadow: none !important;
	color: #494949 !important;
	font-size: 12px !important;
}
#custom-wpml-menu-select-dropdown ul li a div{
	/*float: left;
	text-shadow: none !important;
	color: #494949;
	font-size: 12px;*/
}